<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Monee Lab</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/" >
        모니랩
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">가입</a>
            </li>
            <li class="nav-item">
                <form action="#" action="/logout" method="post">
                    <button class="btn nav-link" type="submit">로그아웃</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="py-5 text-center">
        <h2>계정 만들기</h2>
    </div>
    <div class="row justify-content-center" novalidate>
        <div th:replace="fragments.html :: message"></div>
        <form id="signUpForm" action="/api/signup" method="post" class="needs-validation col-sm-8">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">이메일</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail3" name="email" >
                </div>
                <small class="invalid-feedback">이메일을 입력하세요.</small>
            </div>
            <div class="row mb-3">
                <label for="inputNickname" class="col-sm-3 col-form-label">닉네임</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputNickname" name="nickname" minlength="3" maxlength="20">
                </div>
                <small class="invalid-feedback">닉네임을 입력하세요.</small>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-3 col-form-label">비밀번호</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword3" name="password">
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                    모니랩에서 제공하는 투자정보 수신에 동의합니다.
                </label>
            </div>
            <button type="submit" id="submitBtn" class="mt-3 col-sm-12 btn btn-primary">가입하기</button>
        </form>
    </div>
</div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>